{% extends 'base.html.twig' %}

{% block title %}
    Choose Your Fighter
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="grid grid-cols-4 gap-4">
        {% set options = {'full_name': 'fighter', 'attr': {'class': 'hidden'}} %}
        <label class="justify-self-center">
            {{ form_widget(form.smol, options) }}
            <img src="http://placehold.it/100x100/35d/fff&text=cat">
        </label>

        <label class="justify-self-center">
            {{ form_widget(form.big_long, options) }}
            <img src="http://placehold.it/100x100/35d/fff&text=cat">
        </label>

        <label class="justify-self-center">
            {{ form_widget(form.big_potat, options) }}
            <img src="http://placehold.it/100x100/35d/fff&text=cat">
        </label>

        <label class="justify-self-center">
            {{ form_widget(form.old, options)}}
            <img src="http://placehold.it/100x100/35d/fff&text=cat">
        </label>
    </div>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock %}